<h1> Here are your past orders: </h1>

<h1>  <% @orders.each do |order| %> </h1>
<p> Your order from <%= order.resolved_at.to_s %> </p>  <!--- These could become link in story 13 --->
      <% end %>
